<%- include('partials/navbar.ejs') %>

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">
      <!-- start page title -->
      <div class="row">
        <div class="col-12">
          <div
            class="page-title-box d-sm-flex align-items-center justify-content-between"
          >
            <h4 class="mb-sm-0 font-size-18">Volunteering Events</h4>

            <div class="page-title-right">
              <ol class="breadcrumb m-0">
                <li class="breadcrumb-item">
                  <a href="javascript: void(0);">Events</a>
                </li>
                <li class="breadcrumb-item active">Volunteering</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <!-- end page title -->

      <div class="row">
        <% for( let index = 0; index < locals.events.length; index++ ) { %>

        <div class="col-lg-4">
          <div class="card">
            <div class="card-body">
              <!-- <img
                class="card-img-top img-fluid"
                src="assets/images/small/img-1.jpg"
                alt="Card image cap"
              /> -->
              <div class="card-body">
                <h4 class="card-title"><%- locals.events[index].eventName %></h4>
                <p class="card-text"><%- locals.events[index].description %></p>
                <a
                  href="javascript: void(0);"
                  class="btn btn-primary waves-effect waves-light"
                  >RSVP</a
                >
              </div>
            </div>
          </div>
        </div>

        <% } %>
      </div>

      <!-- end row -->
    </div>
    <!-- container-fluid -->
  </div>
  <!-- End Page-content -->

  <%- include('partials/footer.ejs') %>
</div>
