<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/feedback/<%- locals.eventId %>" method="POST">
      <div class="mb-3">
        <label class="form-label">Rating</label>
        <input type="number" class="form-control" name="rating" />
      </div>
      <div class="mb-3">
        <label class="form-label">Feedback</label>
        <input type="text" name="comment" class="form-control" />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <%= (locals.error) ? locals.error : '' %> <%= (locals.message) ?
    locals.message : '' %>
  </body>
</html>
